#root {
  --main-bg-color: #0d9e9e;
  --main-text-color: #fff;
  --main-link-color: #61dafb;
  --main-link-hover-color: #61dafb;
  --main-link-visited-color: #61dafb;
  --main-link-active-color: #61dafb;
  --main-link-focus-color: #61dafb;
  --navbar-bg-color: #087553;
  --navbar-text-color: #fff;
  --footer-bg-color: #087553;
  --footer-text-color: #fff;
  --footer-link-color: #61dafb;
  --body-header-text-color: #233e46;
  --body-text-color: #233e46;
  --body-link-color: #61dafb;
  --body-link-hover-color: #61dafb;
}
.nav-link{
  color: var(--navbar-text)
}
.nav-link:hover{
  color: rgb(219, 226, 225);
}

.navbar-custom{
  background-color: rgb(11, 167, 120);
}

.border-bottom-custom {
  border-bottom: 1px solid var(--navbar-accent)
}

.raleway-nav {
font-family: "Raleway", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
color: var(--navbar-accent);
}
#home-icon {
  color: var(--navbar-text);
}
#home-icon:hover {
  color: var(--navbar-text-hover);
}
.doto-carousel {
font-family: "Doto", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
  "ROND" 0;
}

.monospace-header {
font-family: "monospace", serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
color: var(--body-header-text)
}

.raleway-body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--navbar-accent);
}
body {
  background-color: var(--main-bg-color)
}

.icon{
  color: var(--navbar-text)

}
.icon:hover{
 color: var(--navbar-text-hover)
}

#social-links {
  list-style-type: none;
  
}
#social-links a {
  color: #24c3bb;
}
#social-links a:hover{
  color:#1bc35b;
}

.body-main {
  background-color: var(--body-text-darkening);
}
#headshot {
  height: 50%;
  border-radius: 50%;
}
.projects-screenshot{
  width: 100%;
  height: 100%;
}
.form-control::placeholder {
  color: #ccc;
}
.footer-background {
  background-color: rgb(73, 11, 167);
}
.footer-top {
  border-top: 1px solid var(--footer-accent)   
}